@import "mixin/layout";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// variable
$flexdisplay: flex;
$griddisplay: grid;

@mixin networkstatus($bgcolor) {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: $bgcolor;
}

@mixin commonprop($size) {
  font-size: #{$size}px;
  color: #fff;
}

.container {
  @include layout(
    "https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844231__340.png"
  );
}
.sunny {
  @include layout(
    "https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844231__340.png"
  );
}
.cloud {
  @include layout(
    "https://cdn.pixabay.com/photo/2015/05/15/14/24/weather-768460__340.jpg"
  );
}

.online {
  @include networkstatus(green);
}
.offline {
  @include networkstatus(red);
}
.search_container {
  display: $griddisplay;
  place-items: center;
  input[type="search"] {
    padding: 10px 10px;
    width: 90%;
    border-radius: 0 0 12px 12px;
    border: none;
    outline: none;
    box-shadow: 4px 7px 10px 1px rgba(171, 139, 139, 0.75);
    -webkit-box-shadow: 4px 7px 10px 1px rgba(171, 139, 139, 0.75);
    -moz-box-shadow: 4px 7px 10px 1px rgba(171, 139, 139, 0.75);
  }
}
.location {
  margin-top: 20px;
  h1 {
    @include commonprop(25);
    text-align: center;
    font-family: monospace;
  }
  p {
    text-align: center;
    font-family: monospace;
    color: #fff;
  }
  .weather-box {
    display: $flexdisplay;
    justify-content: space-around;
    align-items: center;
    .temp {
      display: $flexdisplay;
      align-items: center;
      .temp-value {
        @include commonprop(30);
        background: rgb(170, 167, 167);
        padding: 8px;
        border-radius: 10px;
      }
    }
    .weather {
      @include commonprop(20);
    }
  }
}
.error_message {
  display: $griddisplay;
  place-items: center;
  align-items: center;
  margin-top: 40px;
  color: red;
  font-size: 20px;
}
.status_message {
  @include commonprop(15);
  margin-top: 40px;
  padding: 10px;
}
